.about-us{
    margin-top: 105px;
}


.about-heading h1{
    font-family: var(--Montserrat-family);
    font-size: 40px;
    font-weight: var(--bold-weight);
    text-align: left;
    margin-bottom: 2rem;
    color: var(--dark-blue);
    border-bottom:10px solid var(--dark-yellow) ;
    width: 450px;
    padding-left: 150px;
}

.about-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    /* background-color: #063f5022; */
}
.about-content .about-text p{
    font-size: 20px;
    font-family: var(--Montserrat-family);
    font-weight: var(--normal-weight);
    width: 700px;
    line-height: 40px;
    color: var(--dark-blue);
    margin-bottom: 20px;
}
.about-img {
    filter: drop-shadow(0px 0px 5px var(--dark-blue));
    
}
.about-content .about-img img{
    width: 400px;
    height: 400px;
    /* box-shadow: 0 4px 6px rgba(216, 92, 21, 0.834); */
    /* clip-path: polygon(55% 0, 100% 30%, 100% 70%, 35% 100%, 0 75%, 0 25%); */
    object-fit: cover;
    border-radius: 15px;
    
}


@media (max-width:767px){
    .about-content .about-img img {
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 6px rgba(216, 92, 21, 0.834);
        /* clip-path: polygon(35% 0, 100% 30%, 100% 70%, 35% 100%, 0 75%, 0 25%); */
        object-fit: cover;
        border-radius: 15px;
      }
      .about-content .about-text p {
        font-size: 20px;
        font-family: var(--Montserrat-family);
        font-weight: var(--normal-weight);
        width: 100%;
        line-height: 40px;
        color: var(--dark-blue);
        margin-bottom: 20px;
      }
}