/* src/Navbar.css */
.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.905);
    color: white;
    height: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.493);
  }
  

 
  .navbar-logo img{
    width: 150px;
  }
  .navbar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-logo p span{
    color: var(--dark-yellow);
    font-weight: bold;
  }
  .navbar-logo p {
    font-size: 20px;
    margin-left: -40px;
    width: 140px;
    
  }

  
  .navbar-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-family: var( --Montserrat-family);
    font-size: 20px;
    transition: .3s
  }
  .navbar-links a:hover{
    border-bottom:2px solid var(--secondary-color);
  }
  .language-selector select{
    border: none;
    background-color: var(--primary-color);
    font-family: var(--Montserrat-family);
    color: var(--dark-yellow);
    
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    .navbar-toggle {
      display: block;
    }
    .navbar{
        position: relative;
    }
  
    .navbar-links {
      display: none;
      flex-direction: column;
      gap: 0;
      width: 100%;
      text-align: center;
    }
  
    .navbar-links.active {
      display: flex;
      position: absolute;
      width: 40%;
      height: 80vh;
      margin: auto;
      top: 100%;
      right: 0;
      /* background-color: var(--primary-color); */
      background-color: #1b1b1b;
    }
  
    .navbar-links a {
      padding: 1rem 0;
    }
  }
  