.footer{
    background-color: var(--dark-blue);
    margin-top: 90px;
}
.footer-container{
    
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid brown; 
    gap: 40px;
    border-bottom: 2px solid var(--dark-yellow);
}
.footer-container .logo p{
    color: #fff;
    font-size: 20px;
    margin-top: -30px;
}
.footer .logo p  span{
    color: var(--dark-yellow);
}
.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    border-left: 2px solid var(--dark-yellow);
    border-right: 2px solid var(--dark-yellow);
    padding-left: 30px;
    padding-right: 30px;
}
.footer-links a{
    color: #fff;
    text-decoration: none;
    font-family: var( --Montserrat-family);
    font-size: 20px;
    transition: .3s
}

.footer-links a:hover{
    border-bottom:2px solid var(--dark-yellow);
}

.social{
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 40px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.social .address{

    font-family: var(--Montserrat-family);
    font-size: 18px;
    /* width: 80%; */
    color: #fff;

}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 40px;
}
.social-icon svg{
    cursor: pointer;
    width: 45px;
}
.footer .logo img{
    width: 150px;
}
.footer .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copywriter{
    padding: 1rem;
}
.copywriter p{
    text-align: center;
    font-family: var(--Montserrat-family);
    font-size: 16px;
    color: #fff;
}
/* 
=======================
        newsletter
====================
*/
.newsletter h1{
    color:#fff;
    font-family: var(--Montserrat-family);
    font-weight: bold;
    font-size: 40px;
   
}

.input-group {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
  
  .newsletter .input {
    min-height: 70px;
    width: 100%;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid var(--dark-yellow);
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .newsletter .button--submit {
    min-height: 70px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: var(--dark-yellow);
    color: var(--dark-blue);
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .newsletter .button--submit:hover {
    background-color: #f05a24;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #f05a24;
    outline: none;
  }
  

@media(max-width:992px){
    .footer-container{
    
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        border-bottom: 2px solid var(--dark-yellow);
    }
    .footer-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-left: 2px solid var(--dark-yellow);
        border-right: 2px solid var(--dark-yellow);
        padding-left: 30px;
        padding-right: 30px;
    }
}