*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

/* body{
  background-color: #ccc;
} */
html{
  font-family: var(--Montserrat-family);
}
:root{
  --Montserrat-family: "Montserrat", sans-serif;
  --bold-weight: 700;
  --normal-weight: 400;

  /* Color */
  --primary-color:#182933;
  --dark-blue:#294b5f;
  --secondary-color:#fce3a1;
  --dark-yellow:#e6cd89;
}


ul{
  list-style: none;
}
a{
  text-decoration: none;
}
